h1 {
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: darkgrey;
}
a {
    text-decoration: none;
    color: black;
    padding: 2rem;
}
a:hover {
    color: lightcyan;
    background-color: crimson;
}