form a {
    text-align: center;
    text-decoration: none;
    align-self: center;
    min-width: 3rem;
    width: 8rem;
    color: black;
}
form label, form input {
    margin: 0.25rem 0rem;
}
form input {
    padding: 0.3rem 0.1rem;
}
form button {
    margin: 1rem 0rem;
    width: 25%;
    align-self: center;
    background-color: #00FF52;
    border-radius: 5px;
    padding: 0.5rem 0rem;
}
form a:hover {
    background-color: #00DE94;
    align-self: center;
    min-width: 3rem;
    width: 8rem;
}
.error {
    color: red;
    font-weight: bold;
    text-align: center;
}