h2 {
    text-align: center;
    border-bottom: solid black 1px;
    margin: 1rem auto 0rem;
    width: 35%;
}
form a {
    text-align: center;
    text-decoration: none;
    align-self: center;
    min-width: 5rem;
    color: black;
    width: 10rem;
    padding: 1rem;
}
input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}
form button {
    margin: 1rem 0rem;
    width: 25%;
    align-self: center;
    background-color: #00FF52;
    border-radius: 5px;
    padding: 0.5rem 0rem;
    border: solid black 1px;
}
form button:hover {
    cursor: pointer;
}
form a:hover {
    background-color: #00DE94;
    align-self: center;
    min-width: 3rem;
}
.error {
    color: red;
    font-weight: bold;
    text-align: center;
}