ul {
    text-align: center;
}
.new-app-link {
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem;
}
li {
    padding: 1rem;
    gap: 0.5rem;
    width: 50%;
    margin: auto;
    border: solid black 1px;
    list-style-type: none;
    background-color: #00FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    background-color: #00FF52;
    border: solid black 1px;
    padding: 0.75rem;
}
button:hover {
    cursor: pointer;
}
.error {
    color: red;
    font-weight: bold;
    text-align: center;
}
h2 {
    text-align: center;
    border-bottom: solid black 1px;
    width: 25%;
    margin: 1rem auto 0rem;
}