ul, .message {
    text-align: center;
}
.new-app-link {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    text-decoration: none;
    color: black;
    min-width: 8rem;
    width: 9rem;
    background-color: #00FFFF;
    border: solid black 1px;
    border-radius: 6px;
}
li {
    padding: 1rem;
    gap: 0.5rem;
    width: 60%;
    margin: auto;
    border: solid black 1px;
    list-style-type: none;
    background-color: #00FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}
li a:hover {
    background-color: #00DE94;
    border-radius: 6px;
}
button {
    margin: 1rem 0rem;
    width: 25%;
    align-self: center;
    background-color: #00FF52;
    border-radius: 6px;
    padding: 0.5rem 0rem;
    border: none;
    box-shadow: 0 4px 0 #00DE94;
    transition: all 0.05s ease;
}
button:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0 #00DE94;
}
button:hover {
    cursor: pointer;
}
.error {
    color: red;
    font-weight: bold;
    text-align: center;
}
h2 {
    text-align: center;
    border-bottom: solid black 1px;
    width: 25%;
    margin: 1rem auto 0rem;
}
input {
    display: block;
    width: 10rem;
    margin: 0rem auto 1rem;
    padding: 0.5rem;
}