h2 {
    text-align: center;
    width: 20%;
    margin: 1rem auto 0rem;
    border-bottom: solid black 1px;
}
input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: solid black 1px;
    border-radius: 3px;
}
button {
    background-color: #00FF52;
    border: solid black 1px;
    width: 9rem;
    padding: 0.5rem;
    margin: auto;
}
button:hover {
    cursor: pointer;
}
@media screen and (max-width: 991px) {
    h2 {
        width: 40%;
    }
}
@media screen and (max-width: 576px) {
    h2 {
        width: 70%;
    }
}