<form action="" method="post" id="job-application-update-form">
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="company">Company</label>
    <input type="text" name="company">
    <label for="description">Description</label>
    <textarea name="description"></textarea>
    <label for="qualifications">Qualifications</label>
    <textarea name="qualifications"></textarea>
    <label for="status"></label>
    <select name="status">
        <option value="APPLIED" selected>Applied</option>
        <option value="REVIEW">In Review</option>
        <option value="APPROVED">Approved</option>
        <option value="REJECTED">Rejected</option>
    </select>
    <label for="stage">Stage</label>
    <input type="text" name="stage">
    <label for="url">Job Post Link</label>
    <input type="url" name="url">
    <label for="submission">Application Submission Date</label>
    <input type="date" name="submission">
    <button>Update Application</button>
</form>