<h2>Log into Your Account</h2>
<form (ngSubmit)="onSubmit()" id="login-form">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="Enter your email" required>
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="Enter your password" required>
    <p class="error" *ngIf="error">{{error}}</p>
    <button type="submit">Log In</button>
    <a routerLink="/register">Go to Sign Up Page</a>
</form>