<h2>Create an Application</h2>
<form (ngSubmit)="onSubmit()" id="job-application-create-form">
    <label for="title">Job Title</label>
    <input type="text" name="title" id="title" [(ngModel)]="title" placeholder="Title of the job applied to" required>
    <label for="company">Company</label>
    <input type="text" name="company" id="company" [(ngModel)]="company" placeholder="Company that has the job posting" required>
    <label for="description">Job Description</label>
    <textarea name="description" id="description" placeholder="Job description" [(ngModel)]="description"></textarea>
    <label for="qualifications">Job Qualifications</label>
    <textarea name="qualifications" id="qualifications" placeholder="Job qualifications" [(ngModel)]="qualifications"></textarea>
    <label for="notes">Notes</label>
    <textarea name="notes" id="notes" placeholder="Notes about the job" [(ngModel)]="notes"></textarea>
    <label for="status">Status</label>
    <select name="status" id="status" [(ngModel)]="status">
        <option value="APPLIED" selected>Applied</option>
        <option value="REVIEW">In Review</option>
        <option value="APPROVED">Approved</option>
        <option value="REJECTED">Rejected</option>
    </select>
    <label for="stage">Stage</label>
    <input type="text" name="stage" id="stage" placeholder="Current stage of the job application" [(ngModel)]="stage">
    <label for="url">Job Post Link</label>
    <input type="url" name="url" id="url" placeholder="Link to the job post" [(ngModel)]="url">
    <label for="submission">Application Submission Date</label>
    <input type="date" name="submission" id="submission" [(ngModel)]="submission">
    <p class="error" *ngIf="error">{{error}}</p>
    <button type="submit">Create Application</button>
    <a routerLink="/applications">Cancel</a>
</form>